.holder{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    padding-left: 10vw;
    justify-content: center;
}

.initialHolder{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(.45deg,#624844, #272020);
    min-height: 100vh;
}

.headerText{
    padding-top: 1rem;
    color: white;
}

.cards{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0;
    border-radius: 5%;
}

.imageTag{
    border-radius: 5%;
}