.background_image{
    background-image: linear-gradient(to bottom right, rgb(21,76,121), rgb(118,181,197));
    height: 100vh;
    background-size: cover;
}

.hubzie{
    position: absolute;
    right: 0;
    bottom: 0;
}
#tsparticles {
  width: auto;
  height: 70%;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}