.parentElement{
    display: flex;
    background-color: white;
}

.hiddenParent{
    display: none;
}

.cardHolderTwo{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.bodyCard{
    display: flexbox;
}

.hidden{
    display: none;
}

.buttonPadding{
    margin-right: 5rem;
}

.cardHolderPast{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.imageSized{
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 300px){
    .imageSized{
        display: none;
    }
}


