.el-5 {
  font-size: large;
}

.link-text {
  font-size: large;
}

.navbarNav {
  position: absolute;
  z-index: 2;
}


.main_container {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: relative;
  z-index: 2;
}


